doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/three.js")
    script(src="javascripts/Control.js")
  body
    block content