<div id="blocker" style="display: -webkit-box; ">
  <div id="instructions" style=""><span style="font-size:40px">Click to play</span>
    <p>(W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)</p>
  </div>
</div>
<div id="message">
    <p></p><strong>Connections status:</strong>
    <p id="connectionGame"></p>
    <p id="connectionListener"></p><strong>Map</strong>
    <div>
      <canvas id="myCanvas" width="240" height="240" style="border:1px solid #000000;"></canvas>
    </div>
</div>