extends layout

block content
  div#container
    div#blocker(style='display: -webkit-box;')
      div#instructions(style='')
        span(style='font-size:40px') Click to play
        p (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
    div#question
      p
    div#message
      p
       strong Instructions
       p#details
       p#levelNumber
       strong Map
       div
         canvas#myCanvas(width='240', height='240' style="border:1px solid #000000;")
       p#result
       strong Message from Listener
       ul#chatMessages