doctype html
html(data-ng-app='myModule')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-2.1.1.js")
    script(src="javascripts/angular.js")
    script(src="javascripts/angular-route.js")
    script(src="javascripts/Control.js")
  body
    block content