extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p#connectionListener
  p#connectionGame
  strong ***DEBUG DATA***
  p#debug
  p#message
  br
  strong ***DATABASE CONTROLS***
  br
  button#createDb Create DB
  button#deleteDb Delete DB
  button#insertDocs Insert Docs
  br
  div#dbMessage
  br
  strong ***DATABASE VIEWS***
  p
    a(href='/viewHB?docName=npcs&view=value') View npcs values
  p
    a(href='/viewHB?docName=npcs&view=question') View npcs questions
  br
  br
  strong Map
  div
    canvas#myCanvas(width='240', height='240' style="border:1px solid #000000;")
  .data
      input#myInput(autocomplete='off')
      button#chatButton Chat
    #messageDiv
      ul#info
        
