extends layout

block content
  h1= title
  div
      p
        | mpx/username 
        input#username(type='text')
      p
        | password 
        input#password(type='text')
      input#signIn(type='button', value='signIn')
      p
        a(href='/identity/signOut?userName=mpx/theUser') SignOut
      p
        a(href='/access/test') Test Access