<div class="container">
	<h3><strong>FunctionalJavaScript_Angular_version</strong></h3>
	<br />
	<ul>
		<li data-ng-repeat="name in names"> {{ name }}</li>
	</ul>
	<input type="text" data-ng-model="letter" placeholder="Enter letter here"/>	
	<input type="button" data-ng-click="contains()" value="Contains ..."/>
	<br />
	<a href="#/">Back</a> 
</div>