doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/lib/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/Control.js")
     
  body
    block content