<div class="container">
	<h3><strong>FunctionalJavaScript_Angular_version</strong></h3>
	<h3>Part 3</h3>	
	<a href="#/view04">Here is link to Part IV</a> 
	<br />
	<ul>
		<li data-ng-repeat="name in names"> {{ name }}</li>
	</ul>
	<input type="text" data-ng-model="letter" placeholder="Enter letter here"/>	
	<input type="button" data-ng-click="startWith()" value="Starts with ..."/>
</div>