<div class="container">
	<h3><strong>FunctionalJavaScript_Angular_version</strong></h3>
	<h3>Part 5</h3>
	<a href="#/">Back to Part I</a> 
	<br />
	<ul>
		<li data-ng-repeat="name in names"> {{ name }}</li>
	</ul>
	<br />
	<a href="#/view01">Here is link to contain method</a> 
</div>