<div class="container">
	<h3><strong>FunctionalJavaScript_Angular_version</strong></h3>
	<h3>Part 1</h3>
	<a href="#/view02">Here is link to Part II</a> 
	<br />
	<ul>
		<li data-ng-repeat="state in states"> {{ state }}</li>
	</ul>
	<br />
</div> 