<div class="container">
	<h3><strong>FunctionalJavaScript_Angular_version</strong></h3>
	<h3>Part 2</h3>
	<a href="#/view03">Here is link to Part III</a> 
	<br />
	<ul>
		<li data-ng-repeat="state in states"> {{ state }}</li>
	</ul>
</div> 