<div class="container">
	<h3><strong>FunctionalJavaScript_Angular_version</strong></h3>
	<h3>Part 4</h3>
	<a href="#/view05">Here is link to Part V</a> 
	<br />
	<ul>
		<li data-ng-repeat="name in names"> {{ name }}</li>
	</ul>
	<br />
	<a href="#/view05">Here is link to contain method</a> 
</div>