html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

#content { 
    display: block;
}
/* Start of Menu page */



#welcome{
	left : 30%;
	font-size:40px;
	padding-left: 150px;
}


.levels{
	padding-left: 150px;
	
}
li:active { 
	COLOR: black; 
	TEXT-DECORATION: none 
}

li:hover { 
	COLOR: blue; 
	TEXT-DECORATION: none 
}

#menu{
	position: absolute;
	width: 100%;
    height: 100%;
}
/* End of Menu page */


#blocker {

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);

}

#instructions {

    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;

    cursor: pointer;

}

#question { 
    /* background-color: #7777AA; */
    background-color:rgba(0,255,0,0.5);
    position: absolute;
    top: 300px;
    left: 450px;    
    width: 250px;
    font-size: 10px;
    border: solid black 2px;
    display:none;
}


#message { 
    /* background-color: #7777AA; */
    background-color:rgba(0,255,0,0.5);
    position: absolute;
    left: 0.5em;    
    width: 250px;
    font-size: 10px;
    border: solid black 2px;
}
