<!doctype html>
<html data-ng-app="myModule">
<head>
<title>AngularJS Simple App</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="../javascript/index.js"></script>
</head>
<body data-ng-controller="MyController">
	<span><strong>Dispaly customer</strong></span>
	<br />
	<input type="text" data-ng-model="name" placeholder="Filer cusotmer"/> {{ name }}
	<br />
	<ul>
		<li data-ng-repeat="cust in customers | filter:name | orderBy:city">Full Name: {{cust.name.firstName}} {{cust.name.lastName}}, City: {{cust.city}}</li>
	</ul>
	<span><strong>Adding customer</strong></span>
	<br />
	<input type="text" data-ng-model="newCustomer.name" placeholder="Enter fullname"/>
	<input type="text" data-ng-model="newCustomer.city" placeholder="Enter city"/>		
	<input type="button" data-ng-click="addCustomer()" value="Add Customer"/>
	<br />
	<span><strong>Deleting customer</strong></span>
	<br />
	<input type="text" data-ng-model="removedCustomer.name" placeholder="Enter fullname"/>	
	<input type="button" data-ng-click="deleteCustomer()" value="Delete"/>
</body>
</html>