extends layout

block content

  div#blocker(style='display: -webkit-box;')
    div#instructions(style='')
      span(style='font-size:40px') Click to play
      p (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
  div#message
    p
     strong GameData
     p#gameData
     strong Camera Position
     p#cameraPosition
     strong Collision
     p#collision 