doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="socket.io/socket.io.js")
    script(src="javascripts/lib/require.js" data-main="javascripts/main")
  body
    block content