<div class="container">

	<h3><strong>Angular Resolve - Working with CouchDB</strong></h3>
	<br/>
	<h3> Reading data from DB</h3>
	<br/>
	<input type="button" value="read all" data-ng-click="readAll()">
	<br/>
	<ul>
		<li data-ng-repeat="npc in npcs"> {{ npc.NpcName }} - {{ npc.NpcValue }} - {{ npc.Description }}</li>
	</ul>

</div>
	