<div class="container">

	<h3>
		<strong>Angular Resolve - Reading and Converting CSV to JSON</strong>
	</h3>

	<br />
	<ul>
		<li data-ng-repeat="npc in npcs"> {{ npc.NpcName }} - {{ npc.NpcValue }} - {{ npc.Description }}</li>
	</ul>
	
	<br/>
	<input type="button" value="Put on theCouch" data-ng-click="load2db()">

</div>