  <div>
    <header>
      <h1>AttachMe v02.00</h1>
    </header>
    
    <div>
        <p>This is a new Div stored in CouchDb and
            then retrieved and inserted into our document.</p>  
    </div>

    <footer>
     <p><a target="_blank" href="http://www.elvenware.com/charlie/development/database/NoSql/CouchDb.html#couchdb-attachments">Elvenware CouchDb Attachments</a></p>
    </footer>
  </div>
