extends layout

block content

  div#blocker(style='display: -webkit-box;')
    div#instructions(style='')
      span(style='font-size:40px') Click to play
      p (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
  div#message
    p
     strong CameraX
       span#camerax Foo
     p#gameData 
     p#gameJson 