<div id="GameData"><p id='BlockSize'><strong>BlockSize</strong> <li id='Value01'>20</li></p> 
<p id='BlockPicture'><strong>BlockPicture</strong> <li id='Value01'>crate.jpg</li></p> 
<p id='NumberOfBlocks'><strong>NumberOfBlocks</strong> </p> 
<p id='StartPosition'><strong>StartPosition</strong> <li id='Value01'>1</li><li id='Value02'>1</li><li id='Value03'>1</li></p> 
<p id='FloorBitmap'><strong>FloorBitmap</strong> <li id='Value01'>checkerboard.jpg</li><li id='Value02'>grass01.jpg</li></p> 
<p id='GameGrid'><strong>GameGrid</strong> <li id='Value01'>MazeBuilder01.json</li><li id='Value02'>MazeBuilder02.json</li></p> 
<p id='NpcsGrid'><strong>NpcsGrid</strong> <li id='Value01'>Npc001.json</li><li id='Value02'>Npc002.json</li></p> 
</div>