<div id="GameData"><p id='BlockSize'><strong>BlockSize</strong> <li id='Value01'>20</li></p> 
<p id='BlockPicture'><strong>BlockPicture</strong> <li id='Value01'>crate.jpg</li></p> 
<p id='NumberOfBlocks'><strong>NumberOfBlocks</strong> <li id='Value01'>6</li></p> 
<p id='StartPosition'><strong>StartPosition</strong> <li id='Value01'>1</li><li id='Value02'>1</li><li id='Value03'>1</li></p> 
<p id='FloorBitmap'><strong>FloorBitmap</strong> <li id='Value01'>checkerboard.jpg</li></p> 
</div>