extends layout

block content

  div#blocker(style='display: -webkit-box;')
    div#instructions(style='')
      span(style='font-size:40px') Click to play
      p (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
  div#message
    p
     strong GameData
     p#gameData
     strong Camera Position
     p#cameraPosition
     strong Collision
     p#collision
     strong Connections status:
     p#connectionGame
     p#connectionListener
     strong Map
     div
       canvas#myCanvas(width='240', height='240' style="border:1px solid #000000;")