extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p#connectionListener
  p#connectionGame
  strong ***DEBUG DATA***
  p#debug
  p#message
  strong Map
  div
    canvas#myCanvas(width='240', height='240' style="border:1px solid #000000;")
  .data
      input#myInput(autocomplete='off')
      button#chatButton Chat
    #messageDiv
      ul#info
        
